{
    "username": "",
    "password": "",
    "recipients": ["phone-number1","phone-number2"],
    "provider":"",
    "messageTitle":"",
    "ovh_application_key":"",
    "ovh_application_secret":"",
    "ovh_consumer_key":"",
    "ovh_region":""
}
